<section class="download">
  <div class="container">
    <div class="download-content">
      <h3 class="tytle-download">Don’t miss out on my<span class="spansubtext-download">‘Live life at the full potential’</span> free guide</h3>
      <p class="text-option">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
      <button class="button">Download my free guide</button>
      <p class="subtext">More than 100+ 5 star reviews</p>
      <div class="rating">
        <span class="sprite star"></span>
        <span class="sprite star"></span>
        <span class="sprite star"></span>
        <span class="sprite star"></span>
        <span class="sprite star"></span>
      </div>
    </div>
    <div class="visitors-list">
      <img src="images/img/image.png" alt="visitors" class="visitors">
      <img src="images/img/image72.png" alt="visitors" class="visitors">
      <img src="images/img/image73.png" alt="visitors" class="visitors">
      <img src="images/img/image74.png" alt="visitors" class="visitors">
      <img src="images/img/image75.png" alt="visitors" class="visitors">
    </div>
  </div>
</section>