<section class="header-section">
  <div class="container">
    <div class="header">
  <button class="nav-button" type="button">
    <span class="button-menu button-menu--open"></span>
    <span class="button-menu button-menu--top"></span>
    <span class="button-menu button-menu--bottom"></span>
  </button>
  <div class="backdrop hidden">
  <div class="nav-menu hidden">
    <ul class="list-menu">
      <li class="list"><a class="nav-link" href="#">Home</a></li>
      <li class="list"><a class="nav-link" href="#">Services</a></li>
      <li class="list"><a class="nav-link" href="#">About us</a></li>
      <li class="list"><a class="nav-link" href="#">Extra Salespage</a></li>
    </ul>
    <button type="button" class="button button--nav">Get your free guide now</button>
  </div>
  </div>
  <a href="#" class="logo sprite">Happy Coaching</a>
  <div class="nav">
    <ul class="nav-list">
      <li class="list"><a class="nav-link" href="#">Home</a></li>
      <li class="list"><a class="nav-link" href="#">Services</a></li>
      <li class="list"><a class="nav-link" href="#">About us</a></li>
      <li class="list"><a class="nav-link" href="#">Extra Salespage</a></li>
    </ul>
    <button type="button" class="button button--nav">Get your free guide now</button>
  </div>
</div>
<div class="main">
  <div class="result-speack">
    <h1>Results that speak for themselves</h1>
    <p class="text-option">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua minim veniam.</p>
    <form class="mail-subscribe result">
      <input type="text" placeholder="Name">
      <input type="email" placeholder="Enter your email">
      <p class="subtext-form">We care about your data in our <a href="#">prvacy policy</a></p>
      <button type="button" class="button--form button">Get free guide</button>
    </form>
  </div>
  <div class="border-page">
    <div class="in-border">
      <h2 class="invite-result">Are you ready to transform your life?</h2>
      <div class="label-border">Free guide!</div>
      <div class="label-img">
        <div class="signature">
          <h6 class="sprite">Ready to start? Let`s talk</h6>
          <p class="subtext-signature">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
        </div>
      </div>
      <div class="img">
        <img src="images/img/vector.png" alt="vector">
      </div>
    </div>
  </div>
</div>
  </div>
</section>