.download {
	padding-top: 58px;
	padding-bottom: 36px;
	.container{
		position: relative;
	}
}
.download-content {
	text-align: center;
	.button {
		width: 250px;
	  padding: 10px 18px;
	  margin-bottom: 72px;
	}
	.text-option {
		max-width:540px;
		margin:0 auto 46px;
	}
}
.tytle-download {
	max-width: 760px;
	font-size: 48px;
	line-height: 1.2;
	margin: 0 auto 32px;
}
.spansubtext-download {
	color:$color-subTytle
}

.subtext {
	margin-bottom: 12px;
}
.rating {
	display: flex;
	justify-content: center;
	gap:2px
}
.visitors{
	position: absolute;
	top: 43%;
	right: 0;
	width: 42px;
}

.visitors+.visitors{
	top: 73%;
	left: 0;
	width: 58px;
}
.visitors+.visitors+.visitors{
	top: -10%;
	left: 80%;
	width: 76px;
}
.visitors+.visitors+.visitors+.visitors{
	top: 16%;
	left: 13%;
	width: 114px;
}
.visitors+.visitors+.visitors+.visitors+.visitors{
	top: 73%;
	left: 85%;
	width: 62px;
}
.visitors-list{
	display:none;
	@media screen and (min-width: 1280px) {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}