.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-button{
  background: transparent;
  border:none;
  position: absolute;
  top: 0;
  right: 0%;
  width: 30px;
  height: 30px;
  transform:translate(-50%, 50%);
  display: block;
  cursor: pointer;
      z-index:5;
  @media screen and (min-width: 1280px){
    display: none;
  }
}
.button-menu{
    width: 100%;
    height: 2px;
    background: $color-nav-text;
    display: block;
    transition:all 250ms ease;
    position: absolute;
    transform-origin: 0 0;

  &--top{
    top: 20%;
    &.hidden{
      transform:rotate(45deg) translatey( -50%);
      top: 10%;
      background: #000;

    }
  }
  &--bottom{
    bottom: 20%;
    &.hidden{
      transform:rotate(-45deg) translatey(-50%);
      bottom: 10%;
      background: #000;
    }
  }
  &--open{
top:50%;
transform:translatey(-50%);
    &.hidden{
      width:0%
    }
  }
}

.logo {
  padding-left: 34px;
  text-decoration: none;
  color: $color-logo-text;
  font-size: 16px;
  font-family: $semibold;
}

.logo:before {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-position: -10px -13px;
}
.nav-menu{
  position: fixed;
  top:60px;
  right: calc(0% + 50px);
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap:60px;
  top: 30%;
  transform: translatey(-50%);
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  transition: right 250ms ease 250ms;
  &.hidden{
    right: -100%;
  }
  .list-menu{
    display: flex;
    flex-direction: column;
    gap:40px;
  }
  @media screen and (min-width:1280px) {
    display: none;
  }
  
}
.backdrop{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00000070;
  z-index: 2;
  opacity: 1;
  transition:opacity 250ms ease;
  &.hidden{
    pointer-events: none;
    opacity: 0
  }
}
.nav,
.nav-list {
  @media screen and (max-width: 1279px) {
    display:none;
  }
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav {
  gap: 27px;
}
.nav-list {
  gap: 32px;
}
.nav-link{
  color: $color-nav-text;
  text-decoration: none;
  font-size: 16px;
  display: block;
}
.list {
  position: relative;
  padding-bottom: 3px;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    height: 2px;
    width: 0%;
    background-color: $color-nav-text;
    transition: all 100ms ease;
  }
  &:hover::before {
    right: 0%;
    width: 50%;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0%;
    background-color: $color-nav-text;
    transition: all 100ms ease;
  }
  &:hover::after {
    left: 0%;
    width: 50%;
  }
}

.button {
  background: $bg-btn;
  color: $color-btn;
  border: none;
  cursor: pointer;
  &:hover {
    background: $bg-btn-hover;
  }
}

.button--page {
  padding: 9px 16px 9px 16px;
  width: 250px;
}
.button--form {
  width: 100%;
}
.button--nav {
  padding: 11px 16px 11px 16px;
}

.subtext {
  @media screen and (min-width:1280px) {
    margin-bottom: 12px;
  }
  color: $color-subtext;
  margin-bottom:28px
  }
.main{
  @include displayGrid(auto, 1fr, 0, 0);
  @media screen and (min-width:1280px) {
  @include displayGrid(auto, 1fr 1fr, 0, 0);
  }
}
.border-page {
  display: none;
  @media screen and (min-width:1280px) {
    display: block;
    background-color: $bg-page-second;
    padding-bottom: 70px;
    padding-top: 70px;
    padding-left: 137px;
    padding-right: 137px;
  }
}
h1{
  font-size: 48px;
  line-height: 1.2;
}
.text-option {
  margin-top: 36px;
  margin-bottom: 36px;
}
.result-speack {
  color:#667085;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  @media screen and (min-width:1280px) {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 115px;
    padding-bottom: 115px;
    text-align: left;
  }
  .mail-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:18px;
    margin:auto;
    input{
    border:1px solid #d0d4dd;
    border-radius:10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    &::placeholder{
      color:$color-nav-text;
      font-size: 16px;
      line-height: 1.5;
    }
  }
    @media screen and (min-width:1280px) {
      align-items: flex-start;
      margin:0
    }
  }
}

.result {
  width: 299px;
  input{
    width: 100%;
  }
}

.subtext-form {
  font-size: 14px;
  line-height: 1.42;
  a{
    color:#667085;
  }
}
.in-border {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 38px;
  padding-left: 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $bg-in-border;
}
.invite-result {
  position: relative;
  z-index: 2;
  font-size: 48px;
  line-height: 1.2;
  color:#ffffff;
  width: 225px;
}
h6{
  color:#ffffff;
  font-size: 12px;
  display: block;
}
h6.sprite:before{
  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius:50%;
  top: 50%;
  left: -44px;
  transform:translateY(-50%);
  background-position:-48px -133px
}
.label-border {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 95px;
  border-radius:50%;
  top: 0;
  right: 0;
  transform:translate(50%, -50%);
  background: $bg-btn;
  color:#ffffff;
}
.img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 341px;
  height: 364px;
  img{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.label-img {
  position: relative;
  z-index: 2;
  color:#ffffff;
}
.signature {
  padding-left: 96px;
  padding-top: 22px;
  padding-bottom: 22px;
  background: #413A7D30;
}
.subtext-signature {
  font-size: 8px;
  font-family: $regular;
  line-height: 1.5;
  margin-top: 8px;
}

